# Representing Text In Pandas

<img src="images/churchill2.jpg" height="200" width="200" align="left">
### In This Worksheet 
We will use what we learned about parsing text in nltk to parse a speech into a pandas DataFrame so that we can maintain knowledge about words as we use different nltk tools.

## The Data
#### Speech, Blood Toil Tears and Sweat
<i>Sir Winston Churchill, May 13th 1940</i><br><br>
This is Churchill's first speech as the prime minister of Great Britain.<br>
https://www.youtube.com/watch?v=8TlkN-dcDCk

## Brief Intro to pandas
According to their site, <i>pandas is well suited for many different kinds of data:

* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
* Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure</i>

## What We Will Do With Pandas

* Use DataFrames to store attributes about words and sentences
* Quickly manipulate data, acquire metrics, and create new features

In [24]:
fp = 'speeches/Churchill-Blood.txt'
speech = open(fp).read().lower()

This time, let's put these words into a DataFrame as we tokenize.

In [25]:
from nltk import sent_tokenize, word_tokenize

rows = []

#track sentence membership
sent_id = 0
for sentence in sent_tokenize(speech):
    for word in word_tokenize(sentence):
        info = {'token':word, 'sent_id':sent_id}
        rows.append(info)
    sent_id += 1
    
rows[0:5]

[{'sent_id': 0, 'token': 'on'},
 {'sent_id': 0, 'token': 'friday'},
 {'sent_id': 0, 'token': 'evening'},
 {'sent_id': 0, 'token': 'last'},
 {'sent_id': 0, 'token': 'i'}]

Pandas can turn lists of dictionaries into DataFrames!

In [26]:
import pandas as pd

parsed_speech = pd.DataFrame(rows)
parsed_speech.head()

   sent_id    token
0        0       on
1        0   friday
2        0  evening
3        0     last
4        0        i

## Now let's quickly demo some pandas commands while answering some questions about our speech.

### How many tokens are in this speech?

In [27]:
len(parsed_speech)

698

### How many sentences are in this speech?

In [28]:
len(parsed_speech.sent_id.unique())

36

### What are the most common tokens in the speech?

In [29]:
parsed_speech.token.value_counts().head(10)

the     45
.       34
,       28
of      25
and     21
to      21
i       18
in      15
be      14
that    13
Name: token, dtype: int64

### *Ughh stopwords*
Let's write two functions: 
* identify whether or not a token is a stop word
* identify whether a token is punctuation.

In [30]:
from nltk.corpus import stopwords
import string

def is_stopword(token):
    stops = stopwords.words('english').copy()
    return token in stops

def is_punctuation(token):
    return token in string.punctuation

print(is_stopword('the'))
print(is_punctuation('!'))

True
True

DataFrames are made of series<br><br>
The **apply** function allows us to apply a function to a series, using each value in the series as a parameter, and return something back for each valuein the series.

This makes making new columns and even DataFrames very easy.

Let's see it in action!

In [31]:
parsed_speech['is_stop'] = parsed_speech.token.apply(is_stopword)
parsed_speech['is_stop'].head()

0     True
1    False
2    False
3    False
4     True
Name: is_stop, dtype: bool

In [32]:
parsed_speech['is_punct'] = parsed_speech['token'].apply(is_punctuation)
parsed_speech.head(20)

    sent_id           token is_stop is_punct
0         0              on    True    False
1         0          friday   False    False
2         0         evening   False    False
3         0            last   False    False
4         0               i    True    False
5         0        received   False    False
6         0            from    True    False
7         0             his    True    False
8         0         majesty   False    False
9         0             the    True    False
10        0         mission   False    False
11        0              to    True    False
12        0            form   False    False
13        0               a    True    False
14        0             new   False    False
15        0  administration   False    False
16        0               .   False     True
17        1              it    True    False
18        1             was    True    False
19        1             the    True    False

### What are the most common words in the speech?
Now that we have columns stating whether or not a token is a stop word or punctuation, we can filter our data set for non-stop words.  We do this through pandas selection ability, using the syntax:

```df[condition]```

First we need to determine our condition, which is identifying rows where ```is_stop``` is False, as is ```is_punct```.

In [33]:
condition = (parsed_speech['is_stop'] == False) & (parsed_speech.is_punct == False)
condition.head()

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [34]:
no_stops = parsed_speech[ condition ]
no_stops.head()

   sent_id     token is_stop is_punct
1        0    friday   False    False
2        0   evening   False    False
3        0      last   False    False
5        0  received   False    False
8        0   majesty   False    False

And now we can get our top words!

In [35]:
no_stops.token.value_counts().head(5)

house       6
victory     5
war         5
survival    4
us          4
Name: token, dtype: int64

We can easily do this all in one line of code as well:

In [36]:
parsed_speech[ (parsed_speech['is_stop'] == False) & (parsed_speech.is_punct == False) ].token.value_counts().head()

house       6
victory     5
war         5
survival    4
us          4
Name: token, dtype: int64

### What are the most common types of punctuation in the speech?

In [37]:
parsed_speech[ parsed_speech.is_punct == True ].token.value_counts()

.    34
,    28
-     2
?     2
'     1
:     1
Name: token, dtype: int64

### What questions does Churchill ask?

In [38]:
q_sent_ids = parsed_speech[ parsed_speech.token == '?' ].sent_id.tolist()
q_sent_ids

[23, 27]

In [39]:
question_tokens = parsed_speech[ parsed_speech.sent_id.isin(q_sent_ids) ]
question_tokens

     sent_id   token is_stop is_punct
479       23     you    True    False
480       23     ask   False    False
481       23       ,   False     True
482       23    what    True    False
483       23      is    True    False
484       23     our    True    False
485       23  policy   False    False
486       23       ?   False     True
542       27     you    True    False
543       27     ask   False    False
544       27       ,   False     True
545       27    what    True    False
546       27      is    True    False
547       27     our    True    False
548       27     aim   False    False
549       27       ?   False     True

In [40]:
def concat_tokens(df):
    tokens = df.token.tolist()
    return ' '.join(tokens)

In [41]:
question_tokens.groupby('sent_id').apply(concat_tokens)

sent_id
23    you ask , what is our policy ?
27       you ask , what is our aim ?
dtype: object

In [42]:
a_sent_ids = [x+1 for x in q_sent_ids]
answer_tokens = parsed_speech[ parsed_speech.sent_id.isin(a_sent_ids) ]
answer_tokens.groupby('sent_id').apply(concat_tokens)

sent_id
24    i say it is to wage war by land , sea , and air .
28                           i can answer in one word .
dtype: object

It is also really easy to save DataFrames to csv.  Let's preserve our work.

In [43]:
parsed_speech.to_csv('data/parsed_churchill_blood.csv')